@font-face {
    font-family: yekan;
    src: url(../font/Yekan.ttf);
}
@font-face {
    font-family: koodak;
    src: url(../font/Koodak-Bold.ttf);
}
.gh-test {
    background-color: red;
}
.gh-test2 {
    background: blue;
}
.gh-no-padding {
    padding: 0;
}
.gh-no-margin {
    margin: 0;
}
.gh-no-border {
    border: none;
}
.gh-border-radius {
    border-radius: 5px;
}
.gh-header-bar {
    background: #34363d;
}
.gh-search-form{
    background-color: #34363d;
    padding: 15px;
    font-family: koodak;
    font-size: 16px;
    height: 350px;
}
.gh-search-at {
    background-color: #42d3dc;
    margin-bottom: 5px;
    font-family: yekan;
    font-size: 20px;
}
.gh-slideshow img {
    width: 980px;
    height: 350px;
}
.gh-ads-header {
    background: #34363d;
    height: 50px;
    border-radius: 5px 5px 0 0;
}
.gh-ads-header p {
    font-family: yekan;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.gh-ads-body {
    border: 1px solid #c1bfc4;
    
}
.gh-ads-img {
    padding: 5px;
}
.gh-ads-img img {
    border-radius: 5px;
}
.gh-wtf-box a{
    float: left;
    padding-left: 10px;
    color: #4e94c7;
}
.gh-wtf-box span {
    padding-right: 10px;
    line-height: 30px;
    font-family: koodak;
}
.gh-footer-bar {
    background: #34363d;
}
.gh-con-us {
    border: 1px solid #42d3dc;
    text-align: left;
    padding: 10px;
    line-height: 30px;
}
.gh-gmap {
    background-color: yellow;;
}
.gh-gmap {
    width: 300px;
    height: 300px;
}
/*search page stylesheet "sp = search result"*/
.gh-sp-header {
    background-color: #c1bfc4
}
.gh-sp-header table td {
    text-align: center;
    padding: 0 5px;
}
.gh-src-des {
    font-family: koodak;
    font-size: 20px;
}
.gh-date {
    font-family: koodak;
    font-size: 14px;
}
.gh-sp-home a {
    display: block;
 
    text-align: center;
    font-family: koodak;
    font-size: 18px;
    color: #34363d;
    background-color: #42d3dc;
    margin-top: 17px;
}